body{
	margin: 0;
	padding: 0;
}
body:before{
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: 
}
.avatar{
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 50px);
}

/*login*/ 
.contact-form{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	

}

.contact-form h2{
	margin: 0;
	padding: 0 0 20px;
	color: #eb9834;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.contact-form input{
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input[type=email],
.contact-form input[type=password],
.contact-form input[type=text]

{
	border: none;
	border-bottom: 1px solid #D3D3D3;
	background: transparent;
	outline: none;
	height: 35px;
	color: #eb9834;
	font-size: 15px;
}
.contact-form input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: #eb9834;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 0.2%;
}
.psw a{
	color: #eb9834;
	text-align: center;
	margin: 0;
	padding: 0 0 20px;
	text-decoration: none;
}
.register a{
	color: #eb9834;
	text-align: center;
	margin: 0;
	padding: 0 0 20px;
	text-decoration: none;
}

/*register*/
.register-form input[type=email],
.register-form input[type=password],
.register-form input[type=text]{
border: none;
	border-bottom: 1px solid #D3D3D3;
	background: transparent;
	outline: none;
	height: 35px;
	color: #eb9834;
	font-size: 15px;
}
.register-form{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	
}
.register-form input{
	width: 100%;
	margin-bottom: 10px;	
}
.register-form h2{
	margin: 0;
	padding: 0 0 20px;
	color: #eb9834;
	font-size:10dp;
	text-align: center;
	text-transform: uppercase;
}
.register-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.register-form input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: #eb9834;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 10%;
}
.contact-form input[type=radio]{
	

	cursor: pointer;
	border: none;
	outline: none;
	
}

.navbar-item {
  overflow: hidden;
  background-color: #eb9834;
  position: fixed;
  bottom: 0;
  padding: 5px 20px;
  width: 100%;
}

.navbar-item a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
}

.navbar-item a:hover {
  background: #f1f1f1;
  color: #eb9834;
}

.navbar-item a.active {
  background-color: #fff;
  color: #eb9834;
}

/*request*/
.request-form input[type=email],
.request-form input[type=password],
.request-form input[type=text]{
border: none;
	border-bottom: 1px solid #D3D3D3;
	background: transparent;
	outline: none;
	height: 35px;
	color: #eb9834;
	font-size: 15px;
}
.request-form{
	position: absolute;
	top: 10%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
}
.request-form input{
	width: 100%;
	margin-bottom: 10px;	
}
.request-form h2{
	margin: 0;
	padding: 0 0 20px;
	color: #eb9834;
	font-size:10dp;
	text-align: center;
	text-transform: uppercase;
}
.request-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.request-form input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: #eb9834;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 10%;
}

.contact-form{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	

}

.contact-form h2{
	margin: 0;
	padding: 0 0 20px;
	color: #eb9834;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.contact-form input{
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input[type=email],
.contact-form input[type=password]
{
	border: none;
	border-bottom: 1px solid #D3D3D3;
	background: transparent;
	outline: none;
	height: 35px;
	color: #eb9834;
	font-size: 15px;
}
.contact-form input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: #eb9834;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 0.2%;
}

.list-form{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	

}

.list-form h4{
	margin: 0;
	padding: 0 0 20px;
	color: #eb9834;
	text-align: center;
	text-transform: uppercase;
}
.list-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	
}

.list-form input{
	width: 100%;
	margin-bottom: 20px;
}
.list-form input[type=email],
.list-form input[type=password]
{
	border: none;
	border-bottom: 1px solid #D3D3D3;
	background: transparent;
	outline: none;
	height: 35px;
	color: #eb9834;
	font-size: 15px;
}
.list-form input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: #eb9834;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 0.2%;
}